body {
    margin:0;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}


article {
    width: 800px;    
    margin: auto;
    padding: 16px 16px 16px 16px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 
        0 1px 1px 0 rgba(0, 0, 0, .14), 
        0 1px 3px 0 rgba(0, 0, 0, .12);
}

section {
    margin-top: 15px;
    margin-bottom: 15px;
}

h1, h4 {
    margin: 0;
}

.PageTitle {
    background-color:  #673ab7;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 25px;
}

.PageTitle a {
    background-color:  #673ab7;
    color: whitesmoke;
    text-decoration: none;
}

.PageHeader {
    background-color:  #673ab7;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 15px;
}

.PageContent {    
    min-height: 600px; 
    margin: 0;
    float: left;
    
}

.example-card {
    max-width: 450px;
    min-width: 350px;
    min-height: 200px;
    margin: 30px;
    /*display: flex; */
    float: left;
}

.PageFooter {
    float: left;
    width: 100%;
    text-align: left;
    margin: 30px;
}

